// Bootstrap icons
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css');

// Colours

@orange: #fb8500;
@teal: #008080;
@dark-blue: #023047;
@light-blue: #8ecae6;
@white: #fff;

// General
body {
  font-size: 16px;
}

.orange {
  color: @orange;
}

.teal {
  color: @teal;
}

.teal-bg {
  background-color: @teal;
}

.dark-blue {
  color: @dark-blue;
}

.light-blue {
  color: @light-blue;
}

.white {
  color: @white;
}

.centered {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.navigation {
  background-color: @dark-blue;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: @white;
  color: @teal;
  text-align: center;
}

// Landing page

.section-1 {
  background-color: @dark-blue;
  padding: 2rem;
  margin-top: 3rem;
}

.section-3 {
  background-color: @light-blue;
  padding: 2rem;
}

.image-3 {
  padding: 3rem;
}

.contact-section {
  margin-top: 7rem;
}

.divider {
  background-color: @dark-blue;
  height: 0.5rem;
}

// Login

.login-card {
  margin-top: 4rem;
}

// dashboard

.dashboard-top {
  background-color: @light-blue;
}
