@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css');
body {
  font-size: 16px;
}
.orange {
  color: #fb8500;
}
.teal {
  color: #008080;
}
.teal-bg {
  background-color: #008080;
}
.dark-blue {
  color: #023047;
}
.light-blue {
  color: #8ecae6;
}
.white {
  color: #fff;
}
.centered {
  text-align: center;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.large-text {
  font-size: 1.5rem;
}
.navigation {
  background-color: #023047;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #fff;
  color: #008080;
  text-align: center;
}
.section-1 {
  background-color: #023047;
  padding: 2rem;
  margin-top: 3rem;
}
.section-3 {
  background-color: #8ecae6;
  padding: 2rem;
}
.image-3 {
  padding: 3rem;
}
.contact-section {
  margin-top: 7rem;
}
.divider {
  background-color: #023047;
  height: 0.5rem;
}
.login-card {
  margin-top: 4rem;
}
.dashboard-top {
  background-color: #8ecae6;
}
.demo-image-1 {
  height: 350px;
  width: auto;
}
.demo-section-2 {
  background-color: #8ecae6;
}
.demo-cards {
  height: 7rem;
  width: auto;
  border-radius: 2rem;
  background-color: #fb8500;
  border: 0.5rem solid #fff;
}
.demo-cards-2 {
  height: 5rem;
  width: auto;
  border-radius: 2rem;
  background-color: #fb8500;
  border: 0.5rem solid #fff;
}
.demo-link,
.demo-link:hover,
.demo-link:visited {
  text-decoration: none;
  color: #fff;
}
